basePath: /api/v1
host: localhost:8080
info:
  contact:
    email: support@whatpro.com
    name: API Support
  description: Enterprise WhatsApp Manager & Kanban CRM API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: WhatPro Hub API
  version: "1.0"
paths: {}
schemes:
- http
swagger: "2.0"
