<!doctype html><html><head><meta charset='utf-8'><title>devise/mailer/confirmation_instructions.html.erb</title></head><body><p>Hi #,</p>

#

#
  <p>#, with #, has invited you to try out #.</p>
#

#
  <p>You can login to your # account through the link below:</p>
#
  #
  <p>
    Welcome to #! We have a suite of powerful tools ready for you to explore. Before that we quickly need to verify your email address to know it's really you.
  </p>
  #
  <p>Please take a moment and click the link below and activate your account.</p>
#


#
  <p>#</p>
#
  <p>#</p>
#
  <p>#</p>
#
  <p>#</p>
#</body></html>