<!doctype html><html><head><meta charset='utf-8'><title>mailers/administrator_notifications/account_notification_mailer/automation_rule_disabled.liquid</title></head><body><pre style='white-space:pre-wrap;background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;padding:12px;'>&lt;p&gt;Hello there,&lt;/p&gt;

&lt;p&gt;The automation rule &lt;b&gt;{{meta[&#x27;rule_name&#x27;]}}&lt;/b&gt; has been disabled becuase it has invalid conditions.&lt;/p&gt;
&lt;p&gt;This typically happens when you delete any custom attributes which are still being used in automation rules.&lt;/p&gt;

&lt;p&gt;
Click &lt;a href=&quot;{{action_url}}&quot;&gt;here&lt;/a&gt; to update the conditions.
&lt;/p&gt;
</pre></body></html>